@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");
#features {
  font-family: "Tilt Neon", cursive;
  color: white;
  padding: 2rem 5rem;
}
#features .features_header p {
  font-size: 1.5rem;
  font-weight: 400;
  color: coral;
}
#features .features_header h1 {
  font-size: 3rem;
  font-weight: bold;
  color: rgb(221, 250, 250);
}
#features .features_body {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(25rem, 1fr));
  grid-gap: 0.5rem;
}
#features .features_body article {
  animation: feature 3s ease 0s 1 normal forwards;
  position: relative;
  padding: 1.5rem;
  list-style: none;
  border-radius: 3rem;
  text-align: center;
  z-index: 0;
  border-radius: 1rem;
  box-shadow: inset 5px 15px 50px rgb(27, 27, 27), inset -5px -15px 50px rgb(27, 27, 27), inset -30px 10px 150px #101010, inset 5px -15px 50px rgb(27, 27, 27);
}
#features .features_body article:hover {
  box-shadow: inset 5px 15px 100px rgb(22, 22, 22), inset -15px -5px 100px rgb(22, 22, 22);
}
#features .features_body article .icon {
  font-size: 3.5rem;
  color: coral;
}
#features .features_body article h2 {
  font-size: 1.5rem;
  margin: 1rem auto;
  font-family: "Tilt Neon", cursive;
  color: rgb(221, 250, 250);
}
#features .features_body article p {
  text-align: justify;
  font-size: 1.1rem;
  margin-top: 2rem;
}
#features .features_body article .readmore_btn {
  background: none;
  border: 2px solid #101010;
  -webkit-text-stroke: 0.7px #999;
  padding: 0.2rem 1rem;
  font-size: 1.2rem;
  border-radius: 1rem;
}
#features .features_body article .readmore_btn:hover {
  background: coral;
  color: white;
}
@keyframes feature {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
#features .line {
  margin: 5rem auto;
  width: 90%;
  height: 3px;
  color: transparent;
  background: #111;
  border-radius: 3px;
}

@media screen and (max-width: 1400px) {
  #features .features_body {
    grid-template-columns: repeat(2, minmax(25rem, 1fr));
  }
}
@media screen and (max-width: 980px) {
  #features {
    padding: 2rem;
  }
  #features .features_body {
    grid-template-columns: repeat(2, minmax(20rem, 1fr));
  }
}
@media screen and (max-width: 780px) {
  #features {
    padding: 2rem 1rem;
  }
  #features .features_body {
    grid-template-columns: repeat(2, minmax(20rem, 1fr));
  }
}
@media screen and (max-width: 680px) {
  #features .features_body {
    grid-template-columns: repeat(1, minmax(20rem, 1fr));
  }
}