@import "./Variables.scss";
#features {
    font-family: $mainFont ;
    color: $light;
    padding: 2rem 5rem;
    .features_header {
        p {
            font-size: 1.5rem;
            font-weight: 400;
            color: $coral;
        }
        h1  {
            font-size: 3rem;
            font-weight: bold;
            color: $mainLight;
        }
    }
    .features_body {
        margin-top: 5rem;
        display: grid;
        grid-template-columns: repeat(3, minmax(25rem, 1fr));
        grid-gap: 0.5rem;
        article {
            animation: feature 3s ease 0s 1 normal forwards;
            position: relative;
            padding: 1.5rem;
            list-style: none;
            border-radius: 3rem;
            text-align: center;
            z-index: 0;
            border-radius:1rem;
            box-shadow:
            inset 5px 15px 50px $darkShadow,
            inset -5px -15px 50px $darkShadow,
            inset -30px 10px 150px $darkShadow,
            inset 5px -15px 50px $darkShadow;

            &:hover {
                box-shadow:inset 5px 15px 100px $mainDark,
                           inset -15px -5px 100px $mainDark;
            }
            .icon {
                font-size: 3.5rem;
                color: $coral;
            }
            h2 {
                font-size: 1.5rem;
                margin: 1rem auto;
                font-family: $mainFont;
                color: $mainLight;
            }
            p {
                text-align: justify;
                font-size: 1.1rem;
                margin-top: 2rem;
            }
            .readmore_btn {
                background: none;
                border: 2px solid $mainDark;
                -webkit-text-stroke: .7px $darkText;
                padding: 0.2rem 1rem;
                font-size: 1.2rem;
                border-radius: 1rem;
                &:hover {
                    background: $coral;
                    color: $light;
                }
            }
        }
        @keyframes feature {
            0% {
                transform: scale(0);
            }
        
            100% {
                transform: scale(1);
            }
        }
    }
    .line {
        @include line
    }
}

@media screen and (max-width: 1400px) {
    #features {
        .features_body {
            grid-template-columns: repeat(2, minmax(25rem, 1fr));
        }
    }
}
@media screen and (max-width: 980px) {
    #features {
        padding: 2rem;
        .features_body {
            grid-template-columns: repeat(2, minmax(20rem, 1fr));
        }
    }
}
@media screen and (max-width: 780px) {
    #features {
        padding:2rem 1rem ;
        .features_body {
            grid-template-columns: repeat(2, minmax(20rem, 1fr));
        }
    }
}
@media screen and (max-width: 680px) {
    #features {
        .features_body {
            grid-template-columns: repeat(1, minmax(20rem, 1fr));
        }
    }
}